# Groq AI Model Configuration
# GROQ_API_KEY=your_groq_api_key_here

# Database configuration
# MONGODB_URI=mongodb+srv://user:pass@cluster0.mongodb.net/?retryWrites=true&w=majority
# MONGODB_DATABASE=marketmind

# Auth Configuration
# GOOGLE_CLIENT_ID=your_google_oauth_client_id
# GOOGLE_CLIENT_SECRET=your_google_oauth_secret
